<form (ngSubmit)="onRegister()" #myForm="ngForm" class="form">
  <h1 class="title">My account</h1>
  <div class="input-group">
    <label class="label" for="name">Nombre</label>
    <input class="input" type="text" required id="name" #name="ngModel" name="name" [(ngModel)]="register.name">
    <span class="error" *ngIf="name.touched && name.invalid">Campo requerido</span>
  </div>
  <div class="input-group">
    <label class="label" for="email">Email</label>
    <input class="input" type="email" required id="email" #email="ngModel" name="email" [(ngModel)]="register.email">
    <span class="error" *ngIf="email.touched && email.invalid">Campo requerido</span>
  </div>
  <div class="input-group">
    <label class="label" for="password">Password</label>
    <input class="input" type="password" required id="password" #password="ngModel" name="password" [(ngModel)]="register.password">
    <span class="error" *ngIf="password.touched && password.invalid">Campo requerido</span>
  </div>
  <div class="buttons">
    <button class="btnRegistry" [disabled]="myForm.invalid" type="submit">Registrar</button>
  </div>  
</form>